.Side-bar{
  width: 300px;
  color: black;
  padding-bottom: 20px;
  &__user-name{
    background-color: #ffffff;
    height: 80px;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    .Top-list{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &__name{
        font-size: 16px;
        font-weight: bold;
      }
      &__icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        .btn-icon{
          text-decoration: none;
          color: black;
        }
        &__edit-icon{
          margin-right: 5px;
        }
      }
    }
  }
  &__group-list{
    background-color: #ffffff;
    height: calc(100vh - 60px - 100px - 40px);
    overflow: scroll;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    .Group{
      &:hover{
        background-color: #f0f0f0fa;
      }
      .group-box{
        text-decoration: none;
      }
      &__name{
        color: black;
        font-size: 15px;
        padding: 20px 20px 5px;
      }
      &__message{
        color: gray;
        font-size: 11px;
        padding: 0px 20px 40px;
      }
    }
  }
}