* {
  box-sizing: border-box;
}

.header{
  height: 60px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  background-color: white;
  &__box{
    height: 100%;
    width: 100%;
    max-width: 840px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.search{
  .search-form{
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
    color: black;
    width: 215px;
    border: 1px solid lightgray;
    background-color: rgb(250, 250, 250);
  }
}

.menu{
  height: 100%;
  display: flex;
  align-items: center;
  &__icons{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 100%;
    .home-icon{
      margin: 0 10px;
      line-height: 60px;
    }
    .chat-icon{
      margin: 0 10px;
      line-height: 60px;
    }
    .profile-icon{
      padding: 0 10px;
      line-height: 60px;
    }
  }
}

.btn-icon{
  text-decoration: none;
  color: gray;
}

.user-info{
  display: none;
}

.home-icon:hover{
  .fa-globe-americas{
    color: #0095f6;
  }
}

.chat-icon:hover{
  .fa-rocketchat{
    color: #0095f6;
  }
}

.profile-icon:hover{
  cursor: pointer;
  .fa-user-astronaut{
    color: #0095f6;
  }
  .user-info{
    display: block;
    &__list{
      position: absolute;
      width: 100%;
      right: 0;
      bottom: 100;
      z-index:100;
      a{
        display: block;
        line-height: 35px;
        background-color: white;
        border-bottom: 1px solid lightgray;
        border-left: 1px solid lightgray;
        border-right: 1px solid lightgray;
        text-decoration: none;
        color: gray;
        &:hover{
          color: #0095f6;
        }
      }
    }
  }
}

.post-icon{
  margin: 0 10px;
  line-height: 60px;
}

.post-button{
  background-color: #0095f6;
  height: 30px;
  color: white;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #0095f6;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}