.AccountEdit{
  background-color: #fafafa;
  height: calc(100vh - 60px);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  .AccountEdit-side{
    background-color: white;
    width: 30%;
    max-width: 236px;
    border: 1px solid lightgray;
    &__box{
      width: 100%;
      padding: 15px 15px;
    }
    .Now{
      font-weight: bold;
      border-left: 2px solid black;
    }
    .Other{
      &:hover{
        background-color: #fafafa;
        border-left: 1px solid gray;
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
  }
  .AccountEdit-main{
    width: 70%;
    max-width: 696px;
    background-color: white;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
    .Main-box{
      width: 100%;
      display: flex;
      padding: 15px 0;
      &__left{
        font-weight: bold;;
        width: 25%;
        .FormField-left{
          padding: 5px 0;
          display: flex;
          justify-content: flex-end;
        }
      }
      &__right{
        width: 70%;
        margin-left: 30px;
      }
      input[type="text"]{
        width: 70%;
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 5px;
      }
      input[type="email"]{
        width: 70%;
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 5px;
      }
      input[type="password"]{
        width: 70%;
        border: 1px solid lightgray;
        padding: 5px 10px;
        border-radius: 5px;
      }
      .SubmitButton{
        background-color: #0095f6;
        color: white;
        border-radius: 5px;
        border: 1px solid #0095f6;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
        padding: 3px 10px;
      }
      .UserDelete{
        background-color: white;
        border: none;
        font-weight: bold;
        color: #0095f6;
        cursor: pointer;
      }
      .addClass{
        width: 70%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}